.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #00000057;
  background-color: rgba(0, 0, 0, 0.8);
}
.search-box-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px;
  background: #fff;
  z-index: 1000;
  animation-name: come-from-top;
  animation-duration: .7s;
  display: flex;
  justify-content: center;
  align-items: center;
  form{
        width: 86%;
        margin: 0 auto;
  }
  .search-box {
    position: relative;

    input {
      width: 100%;
      outline: rgb(2, 43, 82) none medium;
      padding: 15px 35px 15px 60px;
      border: 1px solid rgb(2, 43, 82);
      border-radius: 2px;
      color: rgb(2, 43, 82);
      transition: color 0.3s;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0px;
      line-height: 19px;
      background: #fff;
      &::placeholder{
        color: rgb(2, 43, 82);
      }
    }
    .action-button {
      border: none;
      background: none;
      display: flex !important;
      justify-content: center !important;
      align-items: center;
      padding: 0;
    }
    button.search-button{
    position: absolute;
    top: 30%;
    left: 20px;
}
    .close-button {
      position: absolute;
      top: 50%;
      right: 8px;
      z-index: 1001;
      transform: translateY(-50%);
      box-shadow: 2px 2px 4px grey;
      border-radius: 100%;

      svg {
        padding: 0;
        margin: 0;
      }
    }
  }
}

@keyframes come-from-top {
        from{
                transform: translateY(-100%);
        }
        to{
                transform: translateY(0);
        }
}
