.auth-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url(../../assets/images/authPageBG.jpg) no-repeat;
	font-family: "Poppins", sans-serif;


.auth-box {
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(12px);
	padding: 2rem;
	border-radius: 15px;
	width: 350px;
	color: white;
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
	animation: fadeIn 0.6s ease;
	max-height: 80dvh;
	overflow: auto;

	/* Transparent scrollbar for Webkit browsers */
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.01);
}

/* Webkit scrollbar styles */
.auth-box::-webkit-scrollbar {
	width: 8px;
	background: transparent;
}
.auth-box::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.15);
	border-radius: 8px;
}
.auth-box::-webkit-scrollbar-track {
	background: transparent;
}

.auth-box h2 {
	text-align: center;
	margin-bottom: 1.5rem;
}

.input-group {
	margin-bottom: 1rem;
}
.input-group.error input,
.input-group.error select {
  border-color: #dc3545; /* Red color */
  animation: shake 0.3s; /* A subtle shake effect */
}
.remember-me-group label {
    display: flex !important;
    align-items: center;
		input[type='checkbox']{
			margin-right: 5px;
			background-color: #fff !important;
		}
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-5px);
  }
  40%, 80% {
    transform: translateX(5px);
  }
}

.input-group label {
	font-size: 0.9rem;
	display: block;
	margin-bottom: 0.3rem;
}

.input-group input {
	width: 100%;
	padding: 0.6rem;
	border-radius: 8px;
	border: none;
	outline: none;
	background: rgba(255, 255, 255, 0.2);
	color: white;
}

.input-group input::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.btn {
	width: 100%;
	padding: 0.7rem;
	border: none;
	border-radius: 8px;
	background: linear-gradient(135deg, #43cea2, #185a9d);
	color: white;
	font-size: 1rem;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover {
	transform: translateY(-2px);
	background: linear-gradient(135deg, #36d1dc, #5b86e5);
}

.toggle-text {
	margin-top: 1rem;
	text-align: center;
	font-size: 0.9rem;
}

.toggle-text span {
	color: #ffd369;
	cursor: pointer;
	font-weight: bold;
}
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
