.site-logo{
    padding: 0 35px; 
    img {
        width: 160px;
        height: 48px;
        }
       
}

.admin-sidebar{
    .site-logo{
        padding: 0 !important;
        img{
        margin-bottom: 2rem;
        }
    }
}