header.admin-header {
    background: #F8F2EC;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
    z-index: 1000;
}