.content-section-wrapper {
  padding: 45px 20px 40px 20px;
  background: #f7f9fb;
  .content {
    .section-heading {
      color: #000;
      font-weight: 700;
      font-size: 25px;
      letter-spacing: -0.5px;
      margin-bottom: .8rem;
    }
    .section-description {
      font-size: 17.6px;
      font-weight: 500;
      line-height: 1.3;
      padding-bottom: 1.7rem;
      color: #000;
      max-width: 54%;
      margin: auto;
    }
  }
}
