.banner-content {
  position: relative;
  padding-bottom: 30px;
  .images {
    display: flex;
    gap: 10px;
    > div {
      flex: 1;
      img {
        width: 100%;
        height: 630px;
        object-fit: cover;
      }
    }
  }

  .banner-image {
    img {
      width: 100%;
      height: 630px;
      object-fit: cover;
    }
  }

  .banner-title {
    position: relative;
    bottom: 4rem;
    background: #fff;
    width: 64%;
    margin: auto;
    min-height: 69px;
    padding: 34px 40px 0px !important;
    h1 {
      margin: 0px;
      pointer-events: fill;
      font-size: 40px;
      font-weight: 800;
      letter-spacing: -0.5px;
      line-height: 50px;
      text-align: center;
      margin: auto;
    }
    p {
      font-size: 12px;
      margin-top: 0.8rem;
      margin-bottom: 0;
      font-weight: 500;
    }
  }
  .text-content {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.25em;
    padding-right: 1.25em;
    color: #000;
    .subTitle {
      font-weight: 700;
      font-size: 25px;
      letter-spacing: -0.5px;
    }
    p {
      font-size: 17.6px;
      font-weight: 500;
      color: #000;
      line-height: 1.3;
      margin: 17.6px;
    }
    a {
      color: var(--primary-color) !important;
      text-decoration: underline !important;
    }
  }
}

@media screen and (max-width:767px) {
        .images{
                display: block;
                >div{
                        &:last-child{
                                display: none;
                        }
                }
        }
}
